

<div>
    <h1 class="text-5xl tet-bold  text-center my-5"> 💾 Test Realizados</h1>
    <div *ngIf="userTests.length > 0; else noTests" class="mt-3 mx-5 flex flex-wrap max-w-full" >
        <div *ngFor="let t of userTests; index as i;"  class="rounded-lg w-15 text-white p-5 mr-3 mb-3 flex flex-col"  
         [ngClass]="{
          'bg-green-500': t.passed,
          'bg-red-500': !t.passed,
        }">
          
          <p class="text-center text-white">Aciertos: {{ t.points  }}</p>
          <p class="text-center text-white"> Fallos: {{  t.failedPoints }}</p>
          <p class="text-center text-white" *ngIf="t.passed; else noAprobado"> Aprobado 😎</p>
          <ng-template #noAprobado class="">
            <p class="">Suspenso 😐</p>
          </ng-template>
        </div>
    </div>
    <ng-template #noTests class="">
        <h1 class="text-3xl tet-bold text-center my-10"> Vaya! Parece que aun no has hecho ningún test</h1>
        <img src="../../assets/images/other/vaya.gif" class="mx-auto my-5">
      </ng-template>

</div>